/* Body */
body{
  background-color: #0f0e0c;
  color:white;
  text-align: center;
  text-size: 25px;
}

/*Links*/
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}


/* Nav Bar Code: */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #333;
}
.active {
  background-color: #cc9876;
}

/* images: */ 
img{
  width: 100%;
}


/*Photography page text */
.pp1{
  text-color: #f2eddb;
}


/*buttons*/
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #0f0e0c; 
  color: white; 
  border: 2px solid #f2eddb;
}

.button1:hover {
  background-color: #f2eddb;
  color: white;
}
